<h1>ORCID ID Permission Previously Captured</h1>

<h2>
  <%= @first_name %> <%= @last_name %>
</h2>

<p>
  You previously registered ORCID ID <a href="<%= @orcid_id %>" target="_blank"><%= @orcid_id %></a>
  on  <%= @registration_date %>.
  <br/>
	See <a href="<%= orcid_at_umd_link %>" target="_blank"> ORCID@UMD </a> for more information.</p>
</p>
