<% provide(:title, "Previously Captured") %>

<h1>ORCID ID Permission Previously Captured</h1>

<h2>
  <!-- Hard-coding default First Name/Last Name until we get CAS attributes -->
  <%= (@first_name || "John") %> <%= (@last_name || "Smith") %>
</h2>

<p>
  You previously registered ORCID ID <a href="<%= @orcid_id %>" target="_blank"><%= @orcid_id %></a>
  on  <%= @registration_date %>.
  <br/>
	See <a href="<%= orcid_at_umd_link %>" target="_blank"> ORCID@UMD </a> for more information.</p>
</p>
